* {
  color: white;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: #1f1f1f;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.bar {
  color: white;
  font-size: 14px;
  margin: 0 auto;
  display: flex;
  justify-content: end;
  gap: 20px;
  margin: 20px 10px 10px 0px;
}
.text-underline-in-hover:hover {
  text-decoration: underline 1px;
}
.circled-white-bg {
  display: flex;
  justify-content: center;
  align-items: center;
}
.circled-white-bg:hover {
  background-color: #aaa7a7;
}
.gmail-profile-box {
  overflow: hidden;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-top: -10px;
}
.gmail-profile {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.gogle-box {
  display: flex;
  justify-content: center;
}
.div-logo-box {
  display: flex;

  align-items: center;
  justify-content: center;

  margin-top: 25px;
}
.logo-div {
  display: flex;
  justify-content: center;
  /* margin-top: 90px; */
}

.logo {
  width: 320px;
  height: auto;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.Search-bar-Parent {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
  margin: 20px auto;
}
.hover-white-search:hover {
  background-color: #8a8b8d;
}
.search-icon-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4e5257;

  height: 47.33px;
  width: 47.33px;
  border-radius: 25px 0px 0px 25px;
}
.Search-bar-box {
  background-color: #4e5257;
  border: none;
  outline: none;

  font-size: 15px;
  color: #fff9f9;
  width: 450px;
  padding: 14px 0px 14px 20px;
}
.search-icon-2 {
  height: 47.33px;
  width: 188px;
  border-radius: 0 25px 25px 0;
  color: #000000;
  background-color: #4e5257;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
.search-icon-2 i,
.search-icon-1 i {
  color: #bfbfbf;
}
.Ai-box {
  padding: 5px 8px 5px 5px;
  border-radius: 25px;
  border: #aaa7a7 1.5px solid;
}
.Ai-box a {
  color: #e9e9e9;
}
.ai-mode-text {
  font-size: 14px;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
.suggesions-buttons {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 10px;
}
.buttons {
  margin-top: 10px;
  padding: 10px 20px;
  border-radius: 7px;

  text-decoration: none;
  background-color: #2f3033;
  border: 1px solid transparent;
}
.buttons:hover {
  border: 1px rgb(99, 98, 98) solid;
}
a {
  text-decoration: none;
  color: white;
}
.language-box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
  gap: 10px;
  font-size: 14px;
}
.language {
  color: #86b1f7;
}
/* |||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||||| */
footer {
  color: #e8e8e8;
  margin-top: auto;
  background-color: #171717;
  position: relative;
  bottom: 0;
  padding: 20px 0 20px 0;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
h1 {
  /* margin-top: -10px; */
  font-size: 16px;
  padding: 0px 20px 0px 20px;
  margin-bottom: 5px;
  font-weight: 300;
}
.footer-links {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px 0px 30px;
}
hr {
  border: none;
  height: 1px;
  background-color: #454746;
}
.footer-links-first,
.footer-links-last {
  font-size: 14px;
  display: flex;
  margin-top: 10px;
  gap: 20px;
}

/* +++++    END     ++++++ */
